// sass-lint:disable no-combinators
@import ./vars

$medias: ($layout-mobile, $layout-tablet, $layout-desktop, $layout-desktop-big)

:root
    color-scheme: light dark

html
    font-family: "Onest Variable", system-ui, sans-serif
    scroll-behavior: smooth

    @media (prefers-reduced-motion: reduce)
        &
            scroll-behavior: auto

body
    background: #050505
    display: flex
    flex-direction: column
    overflow-x: hidden

    @each $media in $medias
        @media (min-width: map-get($media, 'min-width')) and (max-width: map-get($media, 'max-width'))
            #{--layout-width}: map-get($media, 'width')

html,
body
    width: 100vw
    min-height: 100vh

.layout
    width: var(--layout-width)

strong
    font-weight: bold

.hide
    display: none

.accessible-hide
    position: absolute
    height: 0
    overflow: hidden
    pointer-events: none

.capitalized
    text-transform: capitalize

.hide-overflow-y
    overflow-y: hidden


