<header class="flex justify-between items-center py-3 w-full sticky">
    <img class="rounded-full w-12 aspect-square" src="/images/foto-perfil-mikel.webp" alt="imagen personal" />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
