---
interface Project {
    title: string;
    dateStart: string;
    dateEnd: string;
    description: string[];
}
interface Props {
    projects: Project[];
    class?: String;
}

const { projects, class: className } = Astro.props;
---

<div></div>
